body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir,
    Helvetica, sans-serif;
    background-color: #ffffff;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23cad7ff' fill-opacity='0.27'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
nav {
  text-align: center;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    li {
      display: flex;
      padding: 6px 8px;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #067df7;
  text-decoration: none;
  padding: 10px 0;
  transition: all .2s ease;
  background: #fff;
  &:hover {
    box-shadow: 0 3px 0 0 #067df7;
  }
}

.hero {
  width: 100%;
  padding-top: 50px;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.hero-logo {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
  margin-bottom: 30px;
}

.description {
  font-size: 18px;
  margin-bottom: 10px;
}
.title,
.description {
  text-align: center;
}
.row {
  max-width: 880px;
  margin: 80px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col {
  flex: 1;
}

.text-center {
  text-align: center
}

.action-button {
  padding: 10px 15px;
  border: 2px solid #2b2b2b;
  font-size: 16px;
  transition: all .2s ease;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background: #2b2b2b;
    color: #f8f8f8;
    box-shadow: 0 3px 0 0 #067df7;
  }
}

.text-danger {
  color: #bd2222
}

.text-success {
  color: #3eb33e
}

.success-message, .error-message {
  margin: 50px 0;
}

.project {
  text-align: center;
  .col {
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
      margin-bottom: 25px;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .invalid-email {
    margin: 5px 2px;
  }

  .form-group {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    label {
      margin-bottom: 5px;
    }
    input, textarea {
      border: 2px solid #2b2b2b;
      padding: 3px 10px;
      display: inline-block;
      min-width: 300px;
      font-size: 16px;
      line-height: 25px;
    }
  }
}